[submodule "src/django"]
	path = src/django
	url = git://github.com/django/django@28a4d039a
[submodule "src/south"]
	path = src/south
	url = git://github.com/dmishe/django-south.git
[submodule "src/django-mozilla-product-details"]
	path = src/django-mozilla-product-details
	url = git://github.com/fwenzel/django-mozilla-product-details
